
<footer id="footer" class="footer" ap-type="footer" >
</footer>
</div><!-- // #wrap -->

<nav id="sidenav" role="navigation" class="sidenav">
    <div class="nd-box sidenav-box">
        <div class="sidenav-h"><!-- 20160824 a태그 add -->
          <a href="https://www.sulwhasoo.com[%TEST_URL%]index.html" ap-click-area="Header" ap-click-name="Click - Header" ap-click-data="logo" class="logo-a">
            <span class="sidenav-h-img logo-img"><em class="ap2022-sr-only">Sulwhasoo Site Navigation</em></span>
          </a>
          <button class="nav-close-btn">
            <span class="blind">Sulwhasoo Site Navigation close</span>
          </button>
        </div>
        <div class="wrap-nav-contents">
          <div class="inner-nav-contents" tabindex="0">
              <div id="global-nav" class="nav-list"></div>
              <section class="nav-misc-section"></section>
          </div>
        </div>
    </div>
</nav>
<script src="[%TEST_URL%]resource/js/bodyScrollLock.min.js"></script>
<script src="[%TEST_URL%]resource/js/common.min.0.js"></script>

<script>
function trackClicksEx(){
return false;
}
</script>


<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
    "@type": "ListItem",
    "position": "1",
    "name": "BEST SELLER",
    "item": "[%TEST_URL%]est_seller/best_seller.html"
    }]
    }
</script>

</body>

</html>
