

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" type="image/x-icon" href="[%TEST_URL%]resource/img/favicon_ver2.ico"/>














					<title>Sulwhasoo's Most Beloved Best Sellers | Sulwhasoo International</title>
					<meta name="description" content="Introducing Sulwhasoo's most beloved bestseller products. Sulwhasoo's Bestselling Skincare, Make-up, Classic Luxury Set and Men's Products | Sulwhasoo International">
					<meta name="keywords" content="sulwhasoo best seller, sulwhasoo best product">
					<meta property="og:type" content="website">
					<meta property="og:title" content="Sulwhasoo's Most Beloved Best Sellers | Sulwhasoo International">
					<meta property="og:description" content="Introducing Sulwhasoo's most beloved bestseller products. Sulwhasoo's Bestselling Skincare, Make-up, Classic Luxury Set and Men's Products | Sulwhasoo International">
					<meta property="og:url" content="[%TEST_URL%]best_seller/best_seller.html">
					<meta property="og:image" content="[%TEST_URL%]resource/img/sulwhasoo-og_ver3.jpg">
					<meta property="twitter:card" content="summary_large_image">
					<meta property="twitter:title" content="Sulwhasoo's Most Beloved Best Sellers | Sulwhasoo International">
					<meta property="twitter:description" content="Introducing Sulwhasoo's most beloved bestseller products. Sulwhasoo's Bestselling Skincare, Make-up, Classic Luxury Set and Men's Products | Sulwhasoo International">
					<meta property="twitter:url" content="[%TEST_URL%]best_seller/best_seller.html">
					<meta property="twitter:image" content="[%TEST_URL%]resource/img/sulwhasoo-og_ver3.jpg">






    <link rel="canonical" href="[%TEST_URL%]best_seller/best_seller.html"/>
    <meta name="google-site-verification" content="5EbKXCdVvWtAtCSz4ijpEzSm1dBk3Q74Z7PEP-SyfRQ" />
    <meta name="google-site-verification" content="db_W4iOaZ1sToRqe4_lraOrBfuXAuw127GD083xPEdM" /><!-- 20151221 add 구글 서치 콘솔 -->

    <link rel="stylesheet" href="[%TEST_URL%]resource/css/common.min.0.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="[%TEST_URL%]static/css/ie.min.0.css"><![endif]-->
    <script src="[%TEST_URL%]resource/js/modernizr.min.0.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="[%TEST_URL%]resource/js/ion.js"></script>
    <script type="text/javascript" src="[%TEST_URL%]resource/js/layout.js"></script>
    <script type="text/javascript" src="[%TEST_URL%]resource/js/util.js"></script>
    <script type="text/javascript" src="[%TEST_URL%]resource/js/api.js"></script>

    <!-- 페이스북 메타태그 201707 -->

    <!-- //페이스북 메타태그 201707 -->

    <!--20181001 실란 입사 컬렉션 메타태그 추가-->


    <script>
        // GA360 20180806
        /*digitalData = window.digitalData || {};

        digitalData.userInfo = {
            'profile': {
                'attribute': {
                    'loginStatus': 'N',
                }
            }
        };*/
        var dep1 = "ssulie6";
        var dep2 = "ssulie6";
        var tplId =  "22307";
    </script>
    <!-- Google Tag  Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PNTDCFJ');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="[%PUBLIC_URL%]resource/css/fonts/font.css" type="text/css">
</head>

<body>

<!--[if lt IE 9]><div id="legacy-browser">
    The browser that is currently used will soon be unsupported. Please update your browser to the <a href="http://windows.microsoft.com/ko-kr/internet-explorer/ie-11-worldwide-languages" target="_blank">latest version</a> or use a modern browser such as <a href="https://www.google.com/intl/ko/chrome/browser/" target="_blank">Chrome</a>.
    <button type="button" class="legacy-browser-close">Close<i class="icon"></i></button>
</div><![endif]-->

<div class="dpimeta"></div>
<a href="#main" id="skipnav" ap-click-area="Header" ap-click-name="Click - #main" ap-click-data="#main">Return to the main text</a>


<div id="browser-resizing"></div>
<div id="wrap">
    <header id="header" class="header renew2022-header" ap-type="header">
        <div class="l-header">
            <div class="logo">
                <a href="[%TEST_URL%]index.html" class="logo-a" data-track-name="gnb/logo" ap-click-area="Header" ap-click-name="Click - Header" ap-click-data="logo"><span class="logo-img"><em class="ap2022-sr-only">Sulwhasoo</em></span></a>
            </div>
            <div class="header-inner">
                <button type="button" id="sidenav-open" class="sidenav-open"><i class="icon icon-menu"></i><span class="blind">Open menu</span></button>
                <div class="select-language">
                  <a href="#language-list" class="toggle-layer select-language-a">International/English</a>
                </div>
                <ul id="language-list" class="select-language-list">
                    <li class="is-current"><a href="https://www.sulwhasoo.com/int/en" data-track-name="lang/inten" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="int/en">International/English</a></li>
                    <li><a href="https://www.sulwhasoo.com/kr/ko" target="_blank" title="New window" data-track-name="lang/krko" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="kr/ko">한국/한국어</a></li>
                    <li><a href="https://www.sulwhasoo.com.cn" target="_blank" title="New window" data-track-name="lang/cnzh" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="cn/zh">中国大陆/中文</a></li>
                    <li><a href="https://hk.sulwhasoo.com/" target="_blank" title="New window" data-track-name="lang/hkzh" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="hk/zh">中國香港/繁體中文</a></li>
                    <!-- <li><a href="https://www.sulwhasoo.com/hk/en" target="_blank" title="New window" data-track-name="lang/hken" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="hk/en">Hong Kong(China)/English</a></li>-->
                    <!-- <li><a href="https://www.sulwhasoo.com/tw/zh" target="_blank" title="New window" data-track-name="lang/twzh">台灣/繁體中文</a></li> -->
                    <li><a href="https://www.sulwhasoo.com/sg/en/" target="_blank" title="New window" data-track-name="lang/sgen" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="sg/en">Singapore/English</a></li>
                    <li><a href="https://www.sulwhasoo.com/my/en" target="_blank" title="New window" data-track-name="lang/myen" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="my/en">Malaysia/English</a></li>
                    <!--<li><a href="http://www.sulwhasoo.co.th/en" target="_blank" title="New window" data-track-name="lang/then">Thailand/English</a></li>-->
                    <li><a href="https://www.sulwhasoo.com/th/th" target="_blank" title="New window" data-track-name="lang/thth" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="th/th">ประเทศไทย/ไทย</a></li>
                    <!--<li><a href="http://www.sulwhasoo.com.vn/" target="_blank" title="New window" data-track-name="lang/vnen">Vietnam/English</a></li>-->
                    <li><a href="https://www.sulwhasoo.com/vn/vi" target="_blank" title="New window" data-track-name="lang/vnvi" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="vn/vi">Việt Nam/Tiếng Việt</a></li><!-- 20160330 -->
                    <li><a href="https://www.sulwhasoo.com/id/id" target="_blank" title="New window" data-track-name="lang/idid" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="id/id">Indonesia/Bahasa Indonesia</a></li><!-- 20160401 -->
                    <li><a href="http://us.sulwhasoo.com/" target="_blank" title="New window" data-track-name="lang/usen" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="us/en">USA/English</a></li>
                    <!-- <li><a href="https://www.sulwhasoo.com/fr/fr" target="_blank" title="New window" data-track-name="lang/frfr" ap-click-area="Header" ap-click-name="Select Country" ap-click-data="fr/fr">FRANCE/FRANCAIS</a></li> --><!-- 20170908 -->
                </ul>
                <div class="misc-links">
                    <a href="[%TEST_URL%]misc/store/store.html" class="misc-a" data-track-name="gnb/store" ap-click-area="Header" ap-click-name="Click - Find a Store" ap-click-data="Find Store">store location</a>
                    <a href="#top-search" id="open-search" class="misc-open-search" data-track-name="gnb/Search" ap-click-area="Header" ap-click-name="Click - Search" ap-click-data="Search"><i class="icon-search"></i><span class="blind">Search</span></a>
                </div>
            </div>
        </div>
        <div id="top-search" class="search-container" hidden>
          <div class="inner-top-search">
            <form name="" action="[%TEST_URL%]misc/search/search.html" class="search">
              <div class="wrap-search-box">
                <div class="search-box">
                    <label for="q" class="blind">Search</label>
                    <input name="q" id="q" type="search" class="text" autocomplete="off" placeholder="Enter a search term" />
                    <input name="_charset_" type="hidden" value="UTF-8">
                    <button type="button" class="search-delete" hidden><span class="blind">Del</span></button>
                    <button type="submit" class="submit"><span>Search</span></button>
                </div>
                <div class="wrap-search-close">
                  <a href="#open-search" class="sch-close" ap-click-area="Header" ap-click-name="Click - Search Close" ap-click-data="Search Close">
                      <span>Close</span>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <nav id="gnb" class="gnb renew2022-gnb" ap-type="gnb">
            <div class="l-wrap">
                <div class="blind">Top Navigation</div>
                <ul id="gnb-menu" class="renew2022-gnb-menu gnb-menu">

                </ul>

            </div>
            <div id="gnb-bg" class="bg"></div>
        </nav>

        <!-- 20220412 삭제  -->
        <!--<script id='pixlee_script' src="https://assets.pixlee.com/assets/pixlee_events.js"></script>
        <script type="text/javascript">
            pixlee_analytics = new Pixlee_Analytics("oUmM0uIiFOyAAtg6JKYd");
        </script>-->
        <!-- //20220412 삭제  -->
    </header>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNTDCFJ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script>
$(document).ready(function(){
    $("main[role=main]").attr("ap-type", "content");
});
</script>

<script>
var dataLayer = window.dataLayer || [];
var AP_SEARCH_TERM = "";
var AP_SEARCH_NUM = "";
var AP_SEARCH_TYPE = "";
var AP_SEARCH_PRDRESULT='';
var AP_DATA_GCID="";    //abcd1234dfadfa
var AP_DATA_CID=""; //0101231abcde
var AP_DATA_ISMEMBER="";    //O / X
var AP_DATA_ISLOGIN=""; //Y / N
var AP_DATA_LOGINTYPE="";
var AP_DATA_CA=""; //26
var AP_DATA_CD="";  //1987
var AP_DATA_CG="";  //M / F
var AP_DATA_CT="";  //일반 / 스마트 클럽 / 스마트 클럽 프라임 / VIP
var AP_DATA_SITENAME="SULWHASOO";
var AP_DATA_CHANNEL=""; //PC / MOBILE / APP
  var filter = "win16|win32|win64|mac";
  if (navigator.platform && filter.indexOf(navigator.platform.toLowerCase()) >= 0) {
    AP_DATA_CHANNEL="PC";
  } else {
    AP_DATA_CHANNEL="MOBILE";
  }
var AP_DATA_PAGENAME=document.title;    //페이지 타이틀명 입력
var AP_DATA_PAGETYPE=""; //main, prds, prd, events, event, search    ① 메인페이지 : main 제품리스트 : prds 제품상세 : prd 이벤트리스트 : events 이벤트상세 : event 검색결과페이지 : search 나머지는 공백
var AP_DATA_COUNTRY="int";
var AP_DATA_LANG="en";
var AP_DATA_BREAD="HOME  > BEST SELLER";

</script>

<footer id="footer" class="footer" ap-type="footer"><div class="l-footer">
    <div class="go-top-container is-active" style="bottom: 24.6px;">
        <a href="#main" id="go-top" class="go-top" title="Return to the main text" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="top"><img src="/int/en/resource/img/a/top.png" alt="top"></a>
    </div>
  
    <div class="footer-links">
      <div class="footer-links-wrap">
        <a href="https://www.apgroup.com/int/en/index.html" target="_blank" title="New window" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="About us">About us</a>
        <a href="/int/en/misc/terms-and-conditions/terms-and-conditions.html" target="_blank" title="New window" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Terms and Conditions">Terms &amp; Conditions</a><!-- 20170210 -->
        <a href="/int/en/misc/ugc-terms-and-conditions/ugc-terms-and-conditions.html" title="New window" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Terms and Conditions">UGC T&amp;C</a>
        <a href="/int/en/misc/sitemap/sitemap.html" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Sitemap">Sitemap</a>
      </div>
    </div>
  
    <div class="footer-sns-wrap">
        <div class="footer-sns">
            <!-- 20160520 sns 아이콘3개 이미지로 바꿈(기존f,u 아이콘 폰트 였음) -->
            <a href="https://www.facebook.com/sulwhasoo.official" class="footer-facebook" target="_blank" title="Sulwhasoo Facebook (New window)" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Facebook"><img src="/int/en/resource/img/a/facebookLogo.png" alt=""><span class="blind">Facebook</span></a><!-- 20160518 링크수정 -->
            <a href="https://www.instagram.com/sulwhasoo.official/" class="footer-instagram" target="_blank" title="Sulwhasoo instagram (New window)" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Instagram"><img src="/int/en/resource/img/a/instaLogo.png" alt=""><span class="blind">Instagram</span></a><!-- 20160518 add -->
            <a href="https://www.youtube.com/user/sulwhasookorea" class="footer-youtube" target="_blank" title="Sulwhasoo YouTube (New window)" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="YouTube"><img src="/int/en/resource/img/a/youtubeLogo.png" alt=""><span class="blind">YouTube</span></a>
            <!--<a href="https://www.youtube.com/user/sulwhasookorea" class="footer-youtube" target="_blank" title="Sulwhasoo YouTube (New window)" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="YouTube"><i class="icon-youtube-play"></i><span class="blind">YouTube</span></a>-->
            <!--// 20160520 sns 아이콘3개 이미지로 바꿈(기존f,u 아이콘 폰트 였음) -->
        </div>
    </div>
  
    <div class="footer-legality" style="padding-top: 10px;">
        <span class="footer-item copyright">© AMOREPACIFIC CORPORATION. All rights reserved.</span><!--180730 txt edit-->
    </div>
  
  
    <div class="footer-mobile">
      <div class="footer-toggle">
        <span class="copyright"><i class="copy">©</i> <strong>AMOREPACIFIC</strong> CORPORATION. All rights reserved.</span>
      </div>
      <button class="footer-toggle-button" aria-expanded="false" title="footer 정보 더 보기">
        <div class="blind">footer 정보 더 보기</div>
      </button>
      <div class="footer-mobile-links">
        <div class="inner-mobile-links">
          <div class="inner-links">
            <a href="https://www.apgroup.com/int/en/index.html" target="_blank" title="New window" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="About us">About us</a>
            <a href="/int/en/misc/terms-and-conditions/terms-and-conditions.html" target="_blank" title="New window" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Terms and Conditions">Terms &amp; Conditions</a><!-- 20170210 -->
            <a href="/int/en/misc/ugc-terms-and-conditions/ugc-terms-and-conditions.html" title="New window" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Terms and Conditions">UGC T&amp;C</a>
            <a href="/int/en/misc/sitemap/sitemap.html" class="footer-item" ap-click-area="Footer" ap-click-name="Click - Footer" ap-click-data="Sitemap">Sitemap</a>          
          </div>
        </div>
      </div>
    </div>
  </div>
  </footer>